 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('images/salmon_swimming_resized.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 831px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 296px auto 0 12px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  width: 800px;
  margin: 96px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 31px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 710px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 73px;
  margin-bottom: 45px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 0 0 8px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 11px 0 0 8px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 0;
}

.u-section-2 .u-image-1 {
  min-height: 211px;
  background-image: url("images/92f088ac690a2a8ec8dd40df0a0c65761843fd049146c988b50ea0e0229f14fccc731312505f6e06e6aa66b481576e4cfe6237a87cd486820090f2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  min-height: 210px;
  background-image: url("images/RationFeed-Render.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 196px;
  background-image: url("images/render_v2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 196px;
  background-image: url("images/20220628-003.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 422px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 31px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 38px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 81px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 174px;
  }

  .u-section-2 .u-image-2 {
    min-height: 174px;
  }

  .u-section-2 .u-image-3 {
    min-height: 162px;
  }

  .u-section-2 .u-image-4 {
    min-height: 162px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 267px;
  }

  .u-section-2 .u-image-2 {
    min-height: 267px;
  }

  .u-section-2 .u-image-3 {
    min-height: 248px;
  }

  .u-section-2 .u-image-4 {
    min-height: 248px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 401px;
  }

  .u-section-2 .u-image-2 {
    min-height: 401px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 372px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 372px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-2 .u-image-1 {
    min-height: 252px;
  }

  .u-section-2 .u-image-2 {
    min-height: 252px;
  }

  .u-section-2 .u-image-3 {
    min-height: 234px;
  }

  .u-section-2 .u-image-4 {
    min-height: 234px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 63px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 624px;
}

.u-section-3 .u-shape-1 {
  width: 422px;
  height: 422px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 163px auto 0 23px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -555px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 614px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  width: 345px;
  height: 345px;
  margin: 0 -9px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 94px 0 0 15px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 614px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 450px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 506px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -473px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 498px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1060px;
  margin: 4px auto 3px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-group-1 {
  width: 448px;
  min-height: 122px;
  height: auto;
  margin: 5px 17px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 28px -32px 0 92px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: -23px 384px 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-3 {
  margin: -41px -32px 0 92px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-4 .u-group-2 {
  width: 448px;
  min-height: 122px;
  height: auto;
  background-size: auto;
  margin: 5px 17px 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 28px -32px 0 92px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: -23px 384px 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-5 {
  margin: -41px -32px 0 92px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-4 .u-group-3 {
  width: 448px;
  min-height: 122px;
  height: auto;
  background-size: auto;
  margin: 5px 17px 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 28px -32px 0 92px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: -23px 384px 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-7 {
  margin: -41px -32px 0 92px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-4 .u-group-4 {
  width: 448px;
  min-height: 122px;
  height: auto;
  background-size: auto;
  margin: 5px 17px 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 28px -32px 0 92px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: -23px 384px 0 auto;
  padding: 6px;
}

.u-section-4 .u-text-9 {
  margin: -41px -32px 0 92px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 414px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-group-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 274px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 274px;
  }

  .u-section-4 .u-group-3 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-icon-3 {
    margin-right: 274px;
  }

  .u-section-4 .u-group-4 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-8 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-icon-4 {
    margin-right: 274px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 438px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 445px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 30px 60px 0;
}

.u-section-5 .u-image-1 {
  min-height: 445px;
  background-image: url("images/c400ae78a308144fcd3ee2e57c712e6f034e014822772ddac5e9a65f968694c239b144a21ace2b3c422b9a5dc8a7de928e33804fbb58e6335ddd1f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 367px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-5 .u-image-1 {
    min-height: 632px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-5 .u-image-1 {
    min-height: 398px;
  }
}